<!Doctype html>
<html>
<head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/theme.css">
    <link rel="stylesheet" href="css/gotForm.css">
    <title>
    </title>
</head>
<body>
<div class="navBar" ;>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Bouquet</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="http://localhost/heroku/public/index.php#home">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="http://localhost/heroku/public/index.php?#about">About us</a>
                <a class="nav-item nav-link" href="http://localhost/heroku/public/index.php?#form">Order form</a>
                <a class="nav-item nav-link disabled" href="index.php?controller=orders">Orders</a>
            </div>
        </div>
    </nav>
</div>
<h1>Thank you!</h1>
<h2>Your data received,</h2>
<h2 id="h2">we'll contact you soon.</h2>
</body>
</html>